<form action="/artist" method="POST">
  <label>Artist Name</label>
  <br><br>
  <input type="text" name="artist[name]" id="artist_name">

  <input type="text" name="artist[song]" id="artist_song">
</form>
